body{
    background-color: rgb(244, 255, 228);
    font-family: sans-serif;
}

/* top section  */
.top{
    width: 100%;
    margin: -8px 0;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    z-index: 1000;
    transition: all 0.3s ease;
}
.top.scrolled{
    height: 70px;
    padding-top: 5px;
    background: rgba(255, 255, 255, 0.6); 
    backdrop-filter: blur(10px); 
    /* -webkit-backdrop-filter: blur(10px); Safari support */
    transition: 0.3s;
}
.container{
    width: 75%;
    height: 75px;
    margin: 0 auto;    
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 150px;
    height: 40px;
    
}
.logo>img{
    height: 100%;
    width: 100%;
    cursor: pointer;
}
/* navbar  */

.nav-menu{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    list-style: none;
}
.l-item{
    font-size: 12px;
    
}
.l-item>a:hover{
    text-decoration: underline;
    color: green;
}
a{
    text-decoration: none;
    color: black;
}

/* search  */
.search{
    padding-right: 20px;
}
.search-f>input{
    border: 0.5px green solid;
    border-radius: 20px;
    padding: 7px;
    margin-right: 10px;
    color: rgb(92, 92, 92);
    
}
input::placeholder{
    font-size: 12px;
    padding: 5px 7px;
    color: gray;
    font-family: monospace;
    
}
input:not(:placeholder-shown){
    color: black;
    background-color: rgb(255, 255, 219);
}
.s-btn{
    background-color: #fff;
    border: 1px green solid;
    border-radius: 20px;
    font-size: 13px;
    color: green;
    padding: 7px 15px;
}
.s-btn:hover{
    background-color: green;
    color: #fff;
    border: none;
}

/* featured section  */
.sec-area{
    width: 75%;
    margin: 0 auto;
}
.sec-t{
    padding: 50px 0;
}
.sec-title{
    text-align: center;
    color: rgb(0, 29, 0);
}
.sec-p{
    padding: 10px 0;
    text-align: center;
    color: green;
}

.process{
    text-align: center;
    font-weight: 800;
    
}